<%- include('partials/header'); -%>
<h1>Contact</h1>
<p><%= contactContent %></p>
<ul>
  <li><a href="https://github.com/Daisyliu6">Github</a></li>
  <li><a href="https://www.linkedin.com/in/daisyl88/">LinkedIn</a></li>
</ul>

<%- include('partials/footer'); -%>
