<%- include('partials/header'); -%>
<h1>Contact</h1>
<p><%= contactContent %></p>
<ul>
  <li><a href="https://github.com/Daisyliu6" target="_blank" >Github</a></li>
  <li><a href="https://www.linkedin.com/in/daisyl88/" target="_blank" >LinkedIn</a></li>
  <li><a href="https://daisyliu6.github.io/personal_portfolio/" target="_blank" >Portfolio</a></li>
</ul>

<%- include('partials/footer'); -%>
